.form {
  display: flex;
  gap: 10px;
}

.input {
  font-size: 24px;
  padding: 20px;
}

.password {
  color: red;
}

.submitButton {
  background-color: blue;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 20px;
}

.submitButton:hover {
  background-color: red;
}
